* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  /* text-decoration: none; */
  color: #000;
}

body {
  font-family: "Mountains of Christmas", serif;
}

header {
  height: 30vh;
  background: #de8f5f;
  background-image: url("../assets/header.jpeg");
  background-position: center;
  background-attachment: fixed; /*TODO*/
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2rem;
  font-size: 2rem;
}

main {
  background-image: url("../assets/background.jpeg");
  padding: 2rem;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row; /*???*/
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  color: #fff;
  width: 25vw;
  height: 30vh;
  position: relative; /*TODO*/
}

.card_content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #db1940;
  backface-visibility: hidden; /*TODO*/
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2%;
  border: 6px solid #db1940;
  box-shadow: #94949488 5px 2px 15px; /*TODO 88*/
}

.card_front {
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 0.2rem; /*TODO*/
}

.card_back {
  background-color: #a3b763;
  color: #000;
  font-size: 1.2rem;
  flex-direction: column;
  justify-content: space-between;
}

.card_header {
  height: 50%;
  width: 100;
  background-color: #fff;
}

.card_header iframe {
  width: 100%;
  height: 100%;
}

.card_body {
  height: 50%;
  display: flex;
  align-items: center;
}

.card .is-flipped {
  transform: rotateY(180deg);
  /* visibility: hidden; */
}

.btn {
  /* TODO */
  display: block;
  cursor: pointer;
  width: 100%;
  max-width: 550px;
  padding: 1rem;
  font-size: 2rem;
  margin: 5rem auto;
  background: #a3b763;
  border: none;
  border-radius: 5px;
  outline: none;
}

.btn:hover {
  background: #bad563;
}

.btn:active {
  transform: scale(0.95);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background: #a3b763;
  color: #000;
  font-size: 1.2rem;
}
